<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>flex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-title>Flex test</ion-title>
  <div class="container">
    <div class="box-1">
      <h3>Caja-1</h3>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla enim
      labore nemo reprehenderit, ex commodi non architecto nam assumenda facilis
      consequatur sequi dolore dicta deleniti? Recusandae consequuntur inventore
      dolor quam?
    </div>
    <div class="box-2">
      <h3>Caja-2</h3>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla enim
      labore nemo reprehenderit, ex commodi non architecto nam assumenda facilis
      consequatur sequi dolore dicta deleniti? Recusandae consequuntur inventore
      dolor quam?
    </div>
    <div class="box-3">
      <h3>Caja-3</h3>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla enim
      labore nemo reprehenderit, ex commodi non architecto nam assumenda facilis
      consequatur sequi dolore dicta deleniti? Recusandae consequuntur inventore
      dolor quam?
    </div>
  </div>
</ion-content>
